<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="stylesheet.css" rel="stylesheet">

</head>

<body>

	<div id="searchMovies">
		<h1 id="main-title">Movies Database <img id="logo" src="http://www.freeiconspng.com/uploads/popcorn-png-0.png"></h1>


		<!--Search form-->
		<div class="well well-lg container">
			<form class="form-inline">
				<div class="form-group area-input">
					<label for="mot-clef">Keyword: </label>
					<input v-on:keyup.enter="research()" v-model="key" type="text" class="form-control" id="mot-clef" placeholder="">
				</div>

				<div class="form-group area-input">
					<label for="disabledSelect">Type: </label>
					<select v-model="typeSearch" id="type" class="form-control">
						<option>all</option>
        		<option>movie</option>
						<option>series</option>
						<option>episode</option>
      		</select>
				</div>

				<div class="form-group area-input">
					<label for="annee">Year: </label>
					<input v-on:keyup.enter="research()" v-model="year" type="text" class="form-control" id="annee" placeholder="2015">
				</div>
				<div class=" form-group area-input">
					<button type="button" v-on:click="research()" class="btn btn-default ">Search</button>
				</div>
				<div v-if="typeSearch==='episode'" class="form-group area-input">
					<label for="season">Season: </label>
					<input v-on:keyup.enter="research()" v-model="season" type="text" class="form-control" id="season" placeholder="1">
				</div>
				<div v-if="typeSearch==='episode'" class="form-group area-input">
					<label for="episode">Episode: </label>
					<input v-on:keyup.enter="research()" v-model="episode" type="text" class="form-control" id="episode" placeholder="1">
				</div>
			</form>
		</div>
		<!--end form-->


		<!--Display the search-->
		<div class="container">
			<!--loop to scann the all object-->
			<div class="row">
				<div class="col-xs-9">
					<div v-if="typeSearch==='episode' && episode!=='' && movies.Title!==''" class="row thumbnail">
						<div class="col-xs-6">
							<img v-if="movies.Poster!=='N/A'" class="thumbnail" v-bind:src=movies.Poster width="200" />
							<img v-else class="thumbnail" src="http://filmfranchises.com/static/img/timthumb.php?src=/static/img/posters/d/despicable_me_3.jpg&w=200&h=297&q=100"
								width="200" />
						</div>

						<div class="col-xs-6">
							<h2><a data-toggle="modal" data-target="#modalDetails" v-on:click="moviedetails(movies.imdbID)" href="">{{movies.Title}}</a></h2>
							<p>Year : {{movies.Year}} <br> Type: {{movies.Type}}</p>
							<p>Season : {{movies.Season}} <br> Episode: {{movies.Episode}}</p>
							<span class="label label-default">ID : {{movies.imdbID}}</span>
						</div>
					</div>
					<div v-else-if="typeSearch==='episode' && movies.Title!==''" v-for='movie in movies.Episodes' class="row thumbnail">
						<div class="col-xs-6">
							<img v-if="movie.Poster!=='N/A'" class="thumbnail" v-bind:src=movie.Poster width="200" />
							<img v-else class="thumbnail" src="http://filmfranchises.com/static/img/timthumb.php?src=/static/img/posters/d/despicable_me_3.jpg&w=200&h=297&q=100"
								width="200" />
						</div>

						<div class="col-xs-6">
							<h2><a data-toggle="modal" data-target="#modalDetails" v-on:click="moviedetails(movie.imdbID)" href="">{{movie.Title}}</a></h2>
							<p>Season : {{season}} <br> Episode: {{movie.Episode}}</p>
							<span class="label label-default">ID : {{movie.imdbID}}</span>
						</div>
					</div>
					<div v-else v-for='movie in movies.Search' class="row thumbnail">
						<div class="col-xs-6">
							<img v-if="movie.Poster!=='N/A'" class="thumbnail" v-bind:src=movie.Poster width="200" />
							<img v-else class="thumbnail" src="http://filmfranchises.com/static/img/timthumb.php?src=/static/img/posters/d/despicable_me_3.jpg&w=200&h=297&q=100"
								width="200" />
						</div>

						<div class="col-xs-6">
							<h2><a data-toggle="modal" data-target="#modalDetails" v-on:click="moviedetails(movie.imdbID)" href="">{{movie.Title}}</a></h2>
							<p>Year : {{movie.Year}} <br> Type: {{movie.Type}}</p>
							<span class="label label-default">ID : {{movie.imdbID}}</span>
						</div>
					</div>
				</div>

				<!--HISTORY SEARCH-->
				<div class="col-xs-2">
					<h4>Previous searches:</h4>
					<div v-for="item in historyData">
						<a v-on:click="historySearch(item.address)"> {{item.key}}</a>
						<a v-on:click="deleteHistory(item)"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!--Modal-->
		<div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">{{movieDetails.Title}}</h4>
					</div>
					<div class="modal-body">
						<h4>Actors :</h4>
						<p>{{movieDetails.Actors}}</p>
						<h4>Director :</h4>
						<p>{{movieDetails.Director}}</p>
						<p>Rating : {{movieDetails.imdbRating}} / 10</p>
						<p>Year : {{movieDetails.Year}} <br> Type: {{movieDetails.Type}}</p>
						<h4>Plot :</h4>
						<p>{{movieDetails.Plot}}</p>
						<div class="poster-fix">
							<img v-if="movieDetails.Poster!=='N/A'" class="thumbnail" v-bind:src=movieDetails.Poster width="300" />
							<img v-else class="thumbnail" src="http://filmfranchises.com/static/img/timthumb.php?src=/static/img/posters/d/despicable_me_3.jpg"
								width="300" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!--End Modal-->
	</div>
	<!--End div searchMovies-->



	<script src="https://unpkg.com/vue@2.2.6 "></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="main.js "></script>
</body>

</html>