@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fascinate+Inline|Lobster+Two');

body {
	 background-color: #333;
	 color: white;
	 	font-family: 'Raleway', sans-serif;
		 font-size: 16px;
}
.form-control{
	margin: 5px;
}
#main-title{
	color: #bc3131;
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
	font-size: 4em;
}

#logo{
width: 100px;

}
.well{
	color: #333;
	background-color: rgba(255,255, 255, 1);
}


/*MODAL*/
.modal-body{
	background-color: #6b6c6d;
}

.close{
	font-size: 28px;
	color: white;
}

.modal-title, .modal-header, .modal-footer{
	background-color: #6b6c6d;
	font-size: 28px;
	text-align: center;


}

.area-input {
padding-left: 5%;
}

.thumbnail{
background-color: #333;
border-color: #4f4e4e;
}
.poster-fix img{
	margin: 0 auto 0 auto;
}

	
a{
	color: lightgrey;
		cursor: pointer;
}

a:hover, a:visited{
	color: white;
}

i{
	cursor: pointer;
}